body{
    background-color: #36004F;
    color:#fff;
}
.main-app {
    text-align: center;
    margin-top: 100px;
}
.input-button{
    padding: 15px;
    border: none;
    border-radius: 12px;
    width: 50px;
    color: white;
    cursor: pointer;
    background-color: #36004F;
    border:1px solid #fff;
}
.cta-button {
    padding: 15px;
    border: none;
    border-radius: 12px;
    min-width: 120px;
    color: white;
    font-size: 18px;
    cursor: pointer;
    background-color: #36004F;
}

.connect-wallet-button {
    border:1px solid #fff;
    background: #36004F;
}

.mint-nft-button {
    border:1px solid #fff;
    background: #36004F;
}
.small{
    font-family: Verdana;
    font-size: 10px;
}
